.select-field {

    display: flex;

    flex-direction: column;

    gap: 8px;

    margin-bottom: 20px;
}

/* Label */

.select-field label {

    font-size: 15px;

    font-weight: 600;

    color: #333;
}

.required {

    color: red;

    margin-left: 3px;
}

/* Select */

.select-field select {

    width: 100%;

    height: 48px;

    padding: 0 15px;

    border: 1px solid #D8D8D8;

    border-radius: 8px;

    outline: none;

    font-size: 15px;

    background: white;

    cursor: pointer;

    transition: .3s;
}

.select-field select:focus {

    border-color: #1D9E75;

    box-shadow: 0 0 0 3px rgba(29, 158, 117, .15);
}

.select-field select:disabled {

    background: #F3F3F3;

    cursor: not-allowed;
}