/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFF4EE;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

input {
    font-family: inherit;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}