.admin-layout {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    background: #F8FBFA;
}

/* Main Content */

.admin-layout-content {

    flex: 1;

    width: 100%;

    max-width: 1450px;

    margin: 40px auto;

    padding: 0 20px;
}